{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Learning Fox Interactive - Home</title>
{% endblock title %}

{%block mainbody%}
    <main>
        <!-- Slider Area Start-->
        <div class="slider-area">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-5 d-none d-xl-block">
                                <div class="statichero__img hero__img2 " data-animation="fadeInLeft" data-delay="1s">
                                    <img src="{% static 'img/hero/about_hero.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-9 ">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="fadeInRight" data-delay=".4s">We Collect<br> High Quality Leads</h1>
                                    <p data-animation="fadeInRight" data-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi.</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInRight" data-delay=".8s">
                                        <a href="/contact" class="btn hero-btn">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- about shape -->
        </div>
        <!-- Slider Area End-->

    </main>
{%endblock%}