
{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Learning Fox Interactive - Home</title>
{% endblock title %}

{%block mainbody%}
<style>
    .do-caption p {
      overflow-y: auto;
      height: 90px;
    }

    /* Webkit (Chrome, Safari, etc.) */
    .do-caption p::-webkit-scrollbar {
      width: 8px; /* Set width for vertical scrollbar */
    }

    .do-caption p::-webkit-scrollbar-thumb {
      background-color: #ff5c97; /* Color of the thumb */
      border-radius: 4px; /* Rounded corners */
    }

    .do-caption p::-webkit-scrollbar-thumb:hover {
      background-color: #ff5c97; /* Hover color */
    }

    .do-caption p::-webkit-scrollbar-track {
      background-color: #f0f0f0; /* Color of the track */
      border-radius: 4px; /* Rounded corners */
    }
  </style>
    <main>

        <!-- Slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="{% static 'img/hero/h1_hero.png' %}">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-7 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".4s">We Collect<br> High Quality Leads</h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s">Boost your business with Learning Fox Interactive. We specialize in SEO, website development, e-learning services, and quality assurance—delivering high-quality leads tailored to your needs.</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                        <a href="/contact" class="btn hero-btn">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                    <img src="{% static 'img/hero/hero_right.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End-->
        <!-- What We do start-->
        <div class="what-we-do we-padding">
            <div class="container">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center">
                            <h2>What We Will Do For Your Business</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-chart"></span>
                            </div>
                            <div class="do-caption">
                                <h4>SEO Services</h4>
                                <p>Optimize your online presence with our SEO expertise. Boost visibility and drive organic traffic.</p>
                            </div>
                            <div class="do-btn">
                                <a href="#"><i class="ti-arrow-right"></i> get started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-growth"></span>
                            </div>
                            <div class="do-caption">
                                <h4>Website Development</h4>
                                <p>Craft engaging, user-friendly websites that reflect your brand identity and drive conversions.</p>
                            </div>
                            <div class="do-btn">
                                <a href="#"><i class="ti-arrow-right"></i> get started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="do-caption">
                                <h4>E-Learning Services</h4>
                                <p>Empower your audience with interactive e-learning solutions. From content creation to platform development, we've got you covered.</p>
                            </div>
                            <div class="do-btn">
                                <a href="#"><i class="ti-arrow-right"></i> get started</a>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="col-lg-3 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="do-caption">
                                <h4>Quality Assurance Services</h4>
                                <p>Ensure seamless functionality and user satisfaction with our rigorous quality assurance processes.</p>
                            </div>
                            <div class="do-btn">
                                <a href="#"><i class="ti-arrow-right"></i> get started</a>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
        <!-- What We do End-->
        <!-- We Create Start -->
        <div class="we-create-area create-padding">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-img">
                            <img src="{% static 'img//service/we-create.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-cap">
                            <h3>We Create a Steps to Build a Successful Digital Product</h3>
                            <p>Embark on a transformative journey with us as we guide you through crafting a successful digital product. Define your vision, design with precision, develop with expertise, and deploy with confidence. Transform your idea into reality and let's create something amazing together.</p>
                            <a href="/contact" class="btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- We Create End -->
        <!-- Generating Start -->
        <div class="generating-area ">
            <div class="container">
                 <!-- Section-tittle -->
                 <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center">
                            <h2>Generating New Customers Via Online Mode​​</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-chart"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>All Sizes Business</h4>
                                <p>Unlock growth potential regardless of your business scale with our online marketing strategies.</p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Awesome Results</h4>
                                <p>Experience the satisfaction of achieving outstanding outcomes with our effective online marketing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-speaker"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Keep you in the Loop</h4>
                                <p>Stay informed at every step of the journey with transparent communication and progress updates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-growth"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Significant ROI</h4>
                                <p>Maximize your return on investment through our targeted and impactful online marketing solutions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Generating End -->
        {% comment %} <!--Choose Best start-->
        <div class="choose-best choose-padding">
            <div class="container">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-tittle text-center">
                            <h2>Choose Your Very Best Pricing Plan </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-growth"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$ 05.00</h4>
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>Social Media Marketing</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-choose active text-center mb-30">
                            <div class="do-icon">
                                <span class="flaticon-award"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$ 20.00</h4>
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>Social Media Marketing</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-choose text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-project"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$ 30.00</h4>
                                <ul>
                                    <li>Increase traffic 50%</li>
                                    <li>Social Media Marketing</li>
                                    <li>10 Free Optimization</li>
                                    <li>24/7  support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Choose Best do End--> {% endcomment %}
        {% comment %} <!-- Visit Stuffs Start -->
        <div class="visit-area fix visite-padding">
            <div class="container">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 pr-0">
                        <div class="section-tittle text-center">
                            <h2>Visit Some Of Our Awsome Stuffs</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0">
                <div class="row ">
                    <div class="col-lg-3 col-md-4">
                        <div class="single-visited mb-30">
                            <div class="visited-img">
                                <img src="{% static 'img/visit/visit_1.jpg' %}" alt="">
                            </div>
                            <div class="visited-cap">
                                <h3><a href="#">citmv.com</a></h3>
                                <p>Email Marketing</p>
                            </div>
                        </div>
                    </div> 
                     <div class="col-lg-3 col-md-4">
                        <div class="single-visited mb-30">
                            <div class="visited-img">
                                <img src="{% static 'img/visit/visit_2.jpg' %}" alt="">
                            </div>
                            <div class="visited-cap">
                                <h3><a href="#">mvsp.net</a></h3>
                                <p>Email Marketing</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="single-visited mb-30">
                            <div class="visited-img">
                                <img src="{% static 'img/visit/visit_3.jpg' %}" alt="">
                            </div>
                            <div class="visited-cap">
                                <h3><a href="#">dmcal.co</a></h3>
                                <p>Email Marketing</p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-3 col-md-4">
                        <div class="single-visited mb-30">
                            <div class="visited-img">
                                <img src="{% static 'img/visit/visit_4.jpg' %}" alt="">
                            </div>
                            <div class="visited-cap">
                                <h3><a href="#">dmco.net</a></h3>
                                <p>Email Marketing</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Visit Stuffs Start --> {% endcomment %}
         <!-- Testimonial Start -->
         <div class="testimonial-area">
            <div class="container">
               <div class="testimonial-main">
                    <!-- Section-tittle -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-5  col-md-8 pr-0">
                            <div class="section-tittle text-center">
                                <h2>What Client Say About Us</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                            <div class="col-lg-10 col-md-9">
                                <div class="h1-testimonial-active">
                                    <!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption ">
                                            <div class="testimonial-top-cap">
                                                <p>With their SEO expertise, our online visibility has skyrocketed. We're consistently ranking higher and attracting quality leads. Exceptional service!</p>
                                            </div>
                                            <!-- founder -->
                                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                                <div class="founder-img">
                                                    <img src="{% static 'img/testmonial/testimonial.png' %}" alt="">
                                                </div>
                                            <div class="founder-text">
                                                <span>Oliva jems</span>
                                                <p>Marketing Director</p>
                                            </div>
                                            </div>
                                        </div>
                                    </div><!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption ">
                                            <div class="testimonial-top-cap">
                                                <p>Our website's functionality and design exceeded our expectations. The team's web development skills are top-notch, delivering a seamless user experience.</p>
                                            </div>
                                            <!-- founder -->
                                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                                <div class="founder-img">
                                                    <img style="border-radius: 50%;" src="{% static 'img/testmonial/2.png' %}" alt="">
                                                </div>
                                            <div class="founder-text">
                                                <span>Manmohan Singh</span>
                                                <p>Chief Technology Officer</p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Testimonial End -->
        {% comment %} <!-- Tips Triks Start -->
        <div class="tips-triks-area tips-padding">
            <div class="container">
                 <!-- Section-tittle -->
                 <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 col-md-8 pr-0">
                        <div class="section-tittle text-center">
                            <h2>Tips and Tricks From Our Exparts</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-tips mb-50">
                            <div class="tips-img">
                                <img src="{% static 'img/tips/tips_1.jpg' %}" alt="">
                            </div>
                            <div class="tips-caption">
                                <h4><a href="#">Twice profit than before you ever got</a></h4>
                                <span>Continue Reading</span>
                                <p>March 3, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-tips mb-50">
                            <div class="tips-img">
                                <img src="{% static 'img/tips/tips_2.jpg' %}" alt="">
                            </div>
                            <div class="tips-caption">
                                <h4><a href="#">Twice profit than before you ever got</a></h4>
                                <span>Continue Reading</span>
                                <p>March 3, 2020</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-tips mb-50">
                            <div class="tips-img">
                                <img src="{% static 'img/tips/tips_3.jpg' %}" alt="">
                            </div>
                            <div class="tips-caption">
                                <h4><a href="#">Twice profit than before you ever got</a></h4>
                                <span>Continue Reading</span>
                                <p>March 3, 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tips Triks End --> {% endcomment %}
         <!-- have-project Start-->
         <div class="have-project">
            <div class="container">
                <div class="haveAproject"  data-background="{% static 'img/team/have.jpg' %}">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-7 col-lg-9 col-md-12">
                            <div class="wantToWork-caption">
                                <h2>Have project in mind?</h2>
                                <p>Ready to bring your vision to life? Share your project ideas with us, and let's create something extraordinary together!</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-12">
                           <div class="wantToWork-btn f-right">
                                <a href="#" class="btn btn-ans">Contact Us</a>
                           </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- have-project End -->

    </main>
{%endblock%}